// CONTENT
$color-body-bg: transparent;
$color-text: #000;
$color-heading-text: #5b5d56;
$color-heading-filter: drop-shadow(0 0 0.25rem #fff);

$color-container-bg: /* #4f8493f2; */ #fffc;

$color-credit: #000;

// LINKS
$color-link-text: $color-text;
$color-nav-link-text: #526775;
$color-nav-link-text-active: $color-text;

// INPUTS
$color-input-text: #000;
$color-input-border: lighten($color-heading-text, 50%);

// BUTTONScom
$color-button-bg: $color-heading-text;
$color-button-disabled-bg: darken(desaturate($color-button-bg, 20%), 10%);
$color-button-text: #fff;
